@import '../../base/base';

.form {
    width: 100%;

    .wpforms-field {
        display: flex;
        flex-direction: column;
    }

    .wpforms-field-container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &:has(.wpforms-has-error) {
            input.wpforms-error {
                color: $dark-green;
                background-color: $light-red;
            }
        }
    }

    input,
    textarea {
        width: 100%;
        border-radius: 0.8rem;
        background-color: $light-green;
    }

    input {
        padding: 0 1.3rem;

        height: 4.8rem;

        color: $dark-green;
        line-height: 2rem;

        outline: solid transparent;
        outline-width: 0.1rem;
        transition: outline-color 0.2s, background-color 0.5s;

        &::placeholder {
            line-height: 2rem;
        }

        &:focus-visible {
            outline: solid $dark-green;
            outline-width: 0.1rem;
        }
    }

    textarea {
        padding: 1.3rem;

        height: 7.1rem;

        outline: solid transparent;
        outline-width: 0.1rem;
        transition: outline-color 0.2s;

        &:focus-visible {
            outline: solid $dark-green;
            outline-width: 0.1rem;
        }
    }

    .wpforms-field-label {
        margin-bottom: 0.4rem;
        color: $dark-green;
    }

    .wpforms-submit-container {
        margin-top: 2.4rem;
        text-align: center;
    }

    // field validation error
    .wpforms-error {
        margin-top: 0.4rem;
        color: $wine-red;
        font-style: normal;
    }

    // no script message
    #wpforms-error-noscript {
        display: none;
    }
}

// phone codes list wrap
.iti {
    align-items: center;
    background-color: $milky;
}

// phone codes list another wrap
#iti-0__dropdown-content {
    max-width: 44.8rem;
    max-height: 20rem;
}

// phone codes list
body .iti__country-list {
    border-radius: 1rem;
    background-color: $milky !important;
}
