// fonts
$font-size: 10;
$font-family: 'Raleway', sans-serif;

//Breakpoints
$mobile: 576px;

// Icomoon
$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../fonts/icomoon' !default;

$icon-burger: unquote('"\\e900"');
$icon-facebook: unquote('"\\e902"');
$icon-tiktok: unquote('"\\e904"');
$icon-instagram: unquote('"\\e901"');
$icon-arrow: unquote('"\\e903"');

// Colors
$dark-green: #12493f;
$light-green: #cde3d6;
$milky: #fffbe5;
$brown: #d9b784;
$wine-red: #b65959;
