@import '../base/base';

.header {
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;

    &::after {
        content: '';

        width: 100vw;
        height: 100%;

        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);

        background-color: $dark-green;

        @media (max-width: $mobile) {
            left: 0;
            transform: none;
        }
    }

    .custom-logo-link {
        width: 10.4rem;
        height: 3.2rem;

        @media (max-width: $mobile) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__nav {
        @media (max-width: $mobile) {
            padding: 1.2rem 2.4rem;

            position: absolute;
            top: 6rem;
            right: 0;
            z-index: -1;
            transform: translateY(-100%);

            opacity: 0;
            visibility: hidden;
            border-bottom-left-radius: 1rem;
            background-color: $dark-green;
            transition: opacity 0.2s ease-in, transform 0.2s ease-in, visibility 0.2s ease-in;
        }

        &-list {
            display: flex;
            gap: 2.4rem;

            @media (max-width: $mobile) {
                flex-direction: column;
                align-items: flex-end;
            }
        }

        &-item {
            width: fit-content;
            position: relative;
            color: $milky;
            cursor: pointer;

            &::after {
                content: '';

                width: 0%;
                height: 0.1rem;

                position: absolute;
                left: 0;
                bottom: 0;

                opacity: 0;
                background-color: $milky;
                transition: width 0.5s ease-in, opacity 0.5s linear;
            }

            &.current {
                &::after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }

    &:has(.header__burger.active) &__nav {
        transform: translateY(-0%);
        opacity: 1;
        visibility: visible;
    }

    &__burger {
        display: none;

        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            align-items: center;

            position: absolute;
            top: 50%;
            right: 1.4rem;
            transform: translateY(-50%);

            font-size: 2rem;
            color: $milky;

            &.active {
                .icon-burger {
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    transform: rotate3d(1, 0, 0, 90deg);
                }

                .icon-close {
                    height: 2rem;
                    opacity: 1;
                    visibility: visible;
                    transform: rotate3d(1, 0, 0, 0deg);
                }
            }

            .icon-burger {
                height: 2rem;
            }

            .icon-close {
                height: 0;
                opacity: 0;
                visibility: visible;
                transform: rotate3d(1, 0, 0, 90deg);
            }

            .icon-burger,
            .icon-close {
                transition: height 0.2s, opacity 0.2s, visibility 0.2s, transform 0.2s;
            }
        }
    }
}
